@import "../../assets/styles/settings";

.landing-page-wrapper {
    .landing-carousel-wrapper {
        box-shadow: 0 50px 100px -50px #FF660050;
    }

    .values-section-wrapper {
        padding: 50px 150px;

        .heading-wrapper {
            padding: 0 50px;
        }

        .content {
            margin: 100px 0;
            @include grid(2, 10px);
            gap: 100px 50px;

            .value {
                @include grid(2, 10px);
                grid-template-columns: 1fr 3fr;

                img {
                    position: relative;
                    top: -50px;
                    left: 10px;
                    transform: scale(1.5);
                }

                p {
                    margin-top: 20px;
                    line-height: 1.4em;
                }
            }
        }
    }

    .lending-page-team-wrapper {
        padding: 0 100px;
    }
}