@import "../../../assets/styles/settings";

nav {
    @include grid(3, 5px);
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: space-around;
    padding: 50px 100px;

    .middle {
        text-align: center;

        a {
            &:hover {
                color: $warning;
            }
        }
    }

    .right {
        text-align: right;

        button {
            padding: 10px 30px;
        }
    }
}