@import '../../assets//styles/settings';


.team-page-wrapper {
    .text-wrapper {
        max-width: 940px;
        padding: 50px 100px;
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .all-members-wrapper {
        @include flex(row, space-evenly, center);
        flex-wrap: wrap;
        margin: 100px 0;

        .member-wrapper {
            text-align: center;

            img {
                width: 210px;
                height: 210px;
            }
        }

        &.grayscale {
            .member-wrapper {
                img {
                    filter: grayscale(100%);
                }
            }
        }
    }

    .section {
        h2 {
            color: gray;
            display: inline-block;
            margin-right: 50px;
            font-size: 40px;
            font-weight: normal;
        }
    }
}