@import "../../assets//styles/settings";

.products-page-wrapper {
  padding: 50px 100px;
  position: relative;

  .component-wrapper {
    img {
      width: 100%;
      height: 350px;
      margin-top: 50px;
      filter: grayscale(100%) brightness(80%) contrast(0.8);

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  .inner-product-info {
    position: absolute;
    z-index: 2;

    // top: ...;
    // left: ...;
  }


  h2 {
    font-weight: normal;
    font-size: 30px;
    margin-top: 50px;
    color: gray;

    span {
      color: $warning;
      width: 100px;
    }
  }
}