
body{

    
}
#title{
   
    text-align: center;
}

#header{
    /* color: white; */
}
#register-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#reg-form{

}
input{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    background-color: rgb(244, 244, 244);
    border: none;

}
#btn{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    font-family:sans-serif;
    border-radius: 8px;
    border: none;
    background-color: rgb(16, 185, 16);
    color: snow;
}
#btn1{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    font-family:sans-serif;
    border-radius: 8px;
    border: none;
    background-color: blue;
    color: snow;
}
label{
    
}
#container{
   
    
}
#main{
    
}
.bt{
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    background-color:blue;
    color: snow;
    border: none;
    border-radius:8px;
}
.bt1{
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    background-color:  rgb(24, 245, 24);
    color: black;
    border: none;
    border-radius:8px;
}
